/.DS_Store
/.venv
/LSE_ME204_2024_Midterm.ipynb
/bakery.csv
/credentials.json
/dashboard.py
/data
/df.csv
/en.wikipedia.org
/env
/profile
/week01_lab01.R
/week01_lab01.py
/week01_lab02.py
/week01_lab03.ipynb
/week01_lecture02.py
/week01_lecture03.ipynb
/week01_lecture04_MYCOPY.ipynb
/week01_lecture04_PROFESSORCOPY.ipynb
/week02_lab05_MYCOPY.ipynb
/week02_lab05_PROFESSORCOPY.ipynb
/week02_lab06.ipynb
/week02_lecture05.html
/week02_lecture05.ipynb
/week03_lecture06.ipynb